header {
    background-color: rgb(127, 159, 159);
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: space-between;
}

body {
    background-color: whitesmoke;
}


img {
    width: 300px;
    height: 200px;
}

h1 {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 2px solid black;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 100px;

}

#loginPage form {
    background-color: rgb(189, 222, 223);
}

#signupPage form {
    background-color: rgb(196, 230, 206);

}

label {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

input {
    height: 50px;
    width: 100pxs;
}

button {
    font-size: 20px;
    background-color: rgb(255, 241, 223);
    width: 200px;
    height: 100px;
}

#contentPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contentPage button {
    font-size: 50px;
}

#contentPage form {
    background-color: rgb(201, 216, 225);
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height: 30px;
    margin-top: 100px;
    width: 40%;
    height: 30vh;
    margin-bottom: 50px;

}

#contentPage h1 {
    font-size: 50px;
}

table {
    text-align: center;
    justify-items: center;
    height: 80%;
    width: 70%;
    padding-bottom: 60px;
}

th,
td {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
}

th {
    background-color: rgb(233, 201, 201);
    padding: 20px;
    font-size: 30px;
}

td {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    text-align: center;
    justify-content: center;
    height: 80%;
    padding-bottom: 60px;
}